/* Estilos generales para el cuerpo */
body {
    font-family: 'Inter', Arial, sans-serif;
    background-color: hsl(36, 100%, 99%);
    color: hsl(240, 100%, 5%);
    padding: 5%;
}

/* Estilos para la barra de navegación */
#navbar {
    background-color: none;
    color: hsl(240, 100%, 5%);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar ul {
    list-style: none;
    padding: 5px;
    margin: 5px;
    display: flex;
}

#navbar li {
    margin-left: 15px;
}

#navbar img.icono {
    width: 5%;
    height: auto;
}

#navbar button {
    border: none;
    background: none;
    color: hsl(240, 100%, 5%);
    font-size: 13px;
    cursor: pointer;
}

#navbar img.icono {
    order: -1;
}

/* Estilos para el contenedor principal */
#principal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 25px;
    flex-wrap: wrap;
}

/* Estilos para el artículo */
#principal article img {
    max-width: 65%;
    height: auto;
    padding: auto;
    display: flex;
    align-items: start;
}

/* Estilos para el contenedor flex */
.flex-container {
    display: flex;
    align-items: flex-start;
}

/* Estilos para el título */
.title {
    flex-shrink: 0;
    margin-right: 20px;
    font-size: 24px;
    color: hsl(236, 13%, 42%);
}

/* Estilos para los párrafos */
.content p {
    font-size: 15px;
    margin-top: 10px;
}

/* Estilos para el botón */
.content button {
    background-color: hsl(240, 100%, 5%);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.content button:hover {
    background-color: hsl(233, 8%, 79%);
}

/* Estilos para las secciones */
#principal section div {
    background-color: hsl(36, 100%, 99%);
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

#principal h1, #principal h2, #principal h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: hsl(236, 13%, 42%);
}

Estilos para la sección anunciada */
.announced-section {
    padding: 25%;
    flex-basis: 30%;
    margin-right: 20px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.announced-section div {
    color: hsl(236, 13%, 42%);
    background-color: hsl(240, 100%, 5%);
    padding: 25px;
    flex-basis: 30%;
    margin-right: 20px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.announced-section h1,
h2,
h3 {
    color: hsl(233, 8%, 79%);
    font-size: 24px;
    margin-bottom: 10px;
}


/* Estilos para el pie de página */
footer {
    background-color: hsl(233, 8%, 79%);
    color: white;
    text-align: center;
    padding: 20px;
}


/* Estilos para el pie de página */
footer {
    background-color: hsl(233, 8%, 79%);
    color: white;
    text-align: center;
    padding: 20px;
}

/* Media query para pantallas más pequeñas (hasta 375px) */
@media screen and (max-width: 375px) {
    #navbar {
        padding: 5px;
    }

    #navbar ul {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    #navbar li {
        margin-left: 0;
        margin-bottom: 5px;
    }

    #navbar img.icono {
        width: 15%;
    }
}

/* Media query para pantallas más grandes (a partir de 1440px) */
@media screen and (min-width: 1440px) {
    #navbar {
        padding: 20px;
    }
}
