
/* Variables de colores */
.root {
    --Off-white: hsl(36, 100%, 99%); 
    --Grayish-blue: hsl(233, 8%, 79%); 
    --Dark-grayish-blue: hsl(236, 13%, 42%); 
    --Very-dark-blue: hsl(240, 100%, 5%);
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
}


/* Estilos generales para el cuerpo */
body {
    font-family: 'Inter', Arial, sans-serif;
    background-color: hsl(36, 100%, 99%);
    color: var(--Very-dark-blue);
    font-size: medium;
    padding: 5%;
    height: 400px;
    width: 85%;
}

/* Estilos para la barra de navegación */
#navbar {
    background-color: none;
    color: hsl(233, 8%, 79%);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar ul {
    list-style: none;
    padding: 15px;
    margin: 5px;
    display: flex;
}

#navbar li {
    margin-left: 38px;
}

#navbar img.icono {
    width: 5%;
    height: auto;
}

#navbar a:hover {
    border: none;
    background: none;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    border-bottom: none;
    color: chocolate;
}

#navbar li a{
    color: var(--Off-white);
    border-bottom: none;
    text-decoration: none;
}

#navbar img.icono {
    order: -1;
}

/* Estilos para el contenedor principal */
.other-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    flex-wrap: wrap;
    float: left;
    width: 40%;
    height: auto;
    order: 1;
}

/* Estilos para la img */
.other-section img {
    /*max-width: 100%;*/
    height: 310px;
    width: 160%;
}

/* Estilos para las secciones */
.other-section {
    background-color:hsl(36, 100%, 99%);
    padding: 0px;
    margin-top: 20px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
}

/* Estilos para la sección anunciada */ 
#announced-section {
    width: 33%;
    height: 740px;
    padding: 20px;
    background-color: var(--Very-dark-blue);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    box-sizing:border-box;
    color: var(--Off-white);
    order:2;
}

#announced-section div {
    color: hsl(236, 13%, 42%); 
    background-color: hsl(240, 100%, 5%);
    padding: 20px;
    margin-right: 10px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: 70%;
    width: 370px;
}

#announced-section h1,
h2,
h3 {
    color: hsl(233, 8%, 79%);
    font-size: 24px;
    margin-bottom: 20px;
}

#announced-section h1 {
    color: chocolate;
}

#announced-section h2:hover{
    cursor: pointer;
    color: chocolate;

}


/* Estilos para el pie de página */
footer {
    color: var(--Very-dark-blue);
    text-align: center;
    padding: 20px;
}

/* Media query para pantallas más pequeñas (hasta 375px) */
@media screen and (max-width: 375px) {
    #navbar {
        padding: 5px;
    }

    #navbar ul {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    #navbar li {
        margin-left: 0;
        margin-bottom: 5px;
    }

    #navbar img.icono {
        width: 15%;
    }
}

/* Media query para pantallas más grandes (a partir de 1440px) */
@media screen and (min-width: 1440px) {
    #navbar {
        padding: 20px;
    }
}