@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


/* Variables de colores */
.root {
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
}


/* Estilos generales para el cuerpo */
body {
    font-family: 'Inter', Arial, sans-serif;
    background-color: hsl(36, 100%, 99%);
    color: var(--Very-dark-blue);
    font-size: medium;
    padding: 5%;
    width: 80%;
}

/* Estilos para la barra de navegación */
#navbar {
    color: hsl(233, 8%, 79%);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar ul {
    list-style: none;
    padding: 15px;
    margin: 5px;
    display: flex;
}

#navbar li {
    margin-left: 40px;
}

#navbar img.icono {
    width: 5%;
    height: auto;
}

#navbar a:hover {
    border: none;
    background: none;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    border-bottom: none;
    color: chocolate;
}

#navbar li a {
    color: var(--Off-white);
    border-bottom: none;
    text-decoration: none;
}

#navbar img.icono {
    order: -1;
}

.Hamburguer,
.close {
    display: none;
}

/* Estilos para el contenedor principal */
.other-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    float: left;
    width: 40%;
    height: auto;
    order: 1;
}

/* Estilos para la img */
.other-section img {
    /*max-width: 100%;*/
    height: 310px;
    width: 160%;
}

/* Estilos para las secciones */
.other-section {
    background-color: hsl(36, 100%, 99%);
    margin-top: 20px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    margin-top: -10px;
}

/* Estilos para la sección anunciada */
#announced-section {
    width: 33%;
    height: 730px;
    padding: 10px;
    background-color: var(--Very-dark-blue);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: var(--Off-white);
    order: 1;
}

#announced-section div {
    color: hsl(236, 13%, 42%);
    background-color: hsl(240, 100%, 5%);
    padding: 20px;
    margin-right: 10px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: 70%;
    width: 370px;
}

#announced-section h1,
h2,
h3 {
    color: hsl(233, 8%, 79%);
    font-size: 24px;
    margin-bottom: 1px;
}

#announced-section h1 {
    color: darkgoldenrod;
}

#announced-section h2:hover {
    cursor: pointer;
    color: darkgoldenrod;
}


/* Ajustar el margen inferior de las secciones superiores */
.other-section,
#announced-section {
    margin-bottom: -50px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    writing-mode: horizontal-tb;
    text-orientation: sideways-right;
    height: auto;
    font-size: 25px;
    color: var(--Dark-grayish-blue);
}



.content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

/* Estilos para el contenedor de la derecha */
.content-right {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
}


.quote {
    display: flex;
    text-align:  center;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
    color: var(--Grayish-blue);
    line-height: 1.4;
    margin-bottom: 15px;
}

button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: chocolate;
}

/* Estilos para la sección de información */
.information {
    color: var(--Off-white);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: -100px;
    margin-bottom: 5%;
}

.item {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0;
}

.information .item p h2 {
    margin-top: 0;
}

.text-container h2 {
    /* Estilos adicionales para h2 */
    padding: 0;
    margin: 0;
}

.item .imagen-container {
    margin-right: 1px;
}

.information p.paragraph-1:hover {
    color: chocolate;
    font-weight: 700;
}

.information p {
    margin-bottom: 5px;
}

.text-container p:not(.paragraph-1) {
    color: hsl(236, 13%, 42%); 
}

.paragraph-1 {
    color: black;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.information div img {
    max-width: 100%;
    height: auto;
    margin-right: 5px;
    width: 250px;
}


.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}



/* Estilo predeterminado para ambas imágenes */
.desktop-image {
    display: block;
    /* Mostrar la imagen en pantallas de escritorio */
}

.mobile-image {
    display: none;
    /* Ocultar la imagen en pantallas de escritorio */
}

/* Estilos para el pie de página */
footer {
    color: var(--Very-dark-blue);
    text-align: center;
    padding: 60px;
    font-weight: 700;
}

/* Media query para dispositivos moviles (hasta 375px) */
@media screen and (max-width: 375px) {


    .desktop-image {
        display: none;
        /* Ocultar la imagen en dispositivos móviles */
    }

    .mobile-image {
        display: block;
        /* Mostrar la imagen en dispositivos móviles */
    }

    /* Oculta el menú de navegación en dispositivos móviles */
    .desktop-menu ul {
        display: none;
    }

    /* Muestra el icono de hamburguesa en dispositivos móviles */
    .Hamburguer {
        display: inline-block;
    }

    /* Oculta el ícono de cierre en dispositivos móviles */
    .close {
        display: none;
    }


    /* Estilos generales para el cuerpo */
    body {
        font-family: 'Inter', Arial, sans-serif;
        background-color: hsl(36, 100%, 99%);
        color: var(--Very-dark-blue);
        font-size: medium;
        padding: 5% 2%;
        height: auto;
        width: 100%;
    }

    /* Estilos para la barra de navegación */
    #navbar {
        background-color: none;
        color: var(--Very-dark-blue);
        padding: 15px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #navbar ul {
        list-style: none;
        padding: 45px;
        margin: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 400;
        font-size: 25px;
    }

    #navbar li {
        margin: 5px 0;
    }

    #navbar img.icono {
        width: auto;
        height: auto;
    }

    #navbar a:hover {
        border: none;
        background: none;
        font-size: 25px;
        cursor: pointer;
        text-decoration: none;
        border-bottom: none;
        color: chocolate;
    }

    #navbar li a {
        color: var(--Off-white);
    }

    #navbar img.icono {
        order: -1;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
    }

    /* Estilos para el contenedor principal */
    .other-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        order: 1;
    }

    /* Estilos para la img */
    .other-section img {
        max-width: 100%;
        height: auto;
        width: auto;
    }

    /* Estilos para las secciones */
    .other-section {
        background-color: hsl(36, 100%, 99%);
        padding: 0px;
        margin-top: 20px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 10px;
    }

    /* Estilos para la sección anunciada */
    #announced-section {
        width: auto;
        height: auto;
        padding: 20px;
        margin-top: 10px;
        background-color: var(--Very-dark-blue);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        color: var(--Off-white);
        order: 2;
    }

    #announced-section div {
        background-color: hsl(240, 100%, 5%);
        padding: 20px;
        margin-right: 10px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        height: auto;
        width: auto;
    }

    #announced-section h1,
    h2,
    h3 {
        color: hsl(233, 8%, 79%);
        font-size: 24px;
        margin-bottom: 20px;
    }

    #announced-section h1 {
        color: darkgoldenrod;
    }

    #announced-section h2:hover {
        cursor: pointer;
        color: darkgoldenrod;

    }

    .title {
        display: flex;
        text-align: start;
        flex-direction: column;
        height: auto;
        font-size: 40px;
        color: var(--Dark-grayish-blue);
    }

    .title span {
        margin: auto;
        display: block;
        line-height: 1.2;
    }

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 40px;
    }

    /* Estilos para el contenedor de la derecha */
    .content-right {
        padding: 10px;
        display: flex;
        align-items: start;
        text-align: start;
    }

    .quote {
        font-size: 12px;
        font-weight: 400;
        color: #a9a9a9;
        line-height: 1.4;
        margin-bottom: 15px;
        text-align: start;
    }

    button {
        background-color: black;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    button:hover {
        background-color: chocolate;
    }

    /* Estilos para la sección de información */
    .information {
        color: var(--Off-white);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 15px;
    }


    .item {
        display: flex;
        align-items: center;
        text-align: left;
        margin: 5px;
    }

    .information h2 {
        /* Agrega estilos específicos para los títulos de los divs de la sección de información */
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
        margin-bottom: 10px;
        padding: 10px;
        margin: 10px;
    }

    .imagen-container {
        flex: 1;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .information p.paragraph-1:hover {
        /* Agrega estilos específicos para los párrafos de los divs de la sección de información */
        margin-top: 1px;
        display: flex;
        flex-direction: column;
        color: chocolate;
    }

    .information p {
        color: var(--Dark-grayish-blue);
    }

    .information div img {
        max-width: 100%;
        height: auto;
        width: auto;
    }

    .text-container {
        flex: 2;
        text-align: center;
    }

    /* Estilos para el pie de página */
    footer {
        background-color: var(--Off-white);
        text-align: center;
        padding: 1px;
        margin-top: 100px;
    }

}